%section#introduction
  = link_to image_tag("/images/mug.jpg", :id => "mug"), "http://benhughes.name/"
  %ul#social
    %li
      %a{:href => "http://twitter.com/rubiety"}
        = image_tag "/images/icons/social/twitter_32.png"
        @rubiety
    %li 
      = image_tag "/images/icons/social/email_32.png"
      :javascript
        var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
        "x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
        " r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!09{)rt{y+xx=l;=+;" +
        "lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
        "\"(9),7\\\"\\\\N;UFDY30\\\\0W\\\\5K00\\\\\\\\20\\\\0Z\\\\33\\\\05\\\\02\\\\" +
        "\\\\04\\\\00\\\\03\\\\\\\\01\\\\03\\\\01\\\\\\\\]|vy;$dD;st|ygj~MlfiU(b5qjw" +
        "m\\\"\\\\\\\\\\\\\\\\#\\\\\\\\r\\\\\\\\\\\\30\\\\0R\\\\23\\\\05\\\\03\\\\\\" +
        "\\14\\\\00\\\\02\\\\\\\\31\\\\03\\\\02\\\\\\\\27\\\\04\\\\26\\\\07\\\\03\\\\"+
        "\\\\7K03\\\\\\\\33\\\\02\\\\00\\\\\\\\04\\\\0r\\\\\\\\\\\\06\\\\0H\\\\U501\\"+
        "\\03\\\\00\\\\\\\\27\\\\04\\\\01\\\\\\\\3C00\\\\\\\\B]0w913//+\\\\y\\\\\\\"" +
        ";\\\\>12'+?\\\"\\\\f(;} ornture;}))++(y)^(iAtdeCoarchx.e(odrChamCro.fngriSt" +
        "+=;o27=1y%i;+=)y79==(iif){++;i<l;i=0(ior;fthnglex.l=\\\\,\\\\\\\"=\\\",o ia" +
        "r{vy)x,f(n ioctun\\\"f)\")"                                                  ;
        while(x=eval(x));

  %h1
    Hi, I'm 
    = link_to "Ben Hughes", "http://benhughes.name/"
  %p
    For 3 months starting August 22nd I'll be flying around on #{link_to "JetBlue's Blue Pass", "http://jetblue.com/bluepass/"}, catching as many Ruby meetups as possible, and pairing/coworking with as
    many other Ruby developers as possible.
    %strong 
      Want to cowork, pair program, or hang out? Did I miss your group not in the city list below? Should I fly to your city? Let me know!


%section#cities
  %h1 Cities &amp; Ruby Groups (Tentative)

  %div.grouping
    %article
      %h2 Boston, Boston, and More Boston...
      %p The Blue Pass requires that I connect in Boston anywhere I go. So needless to say, Boston.rb!
    %article
      %h2 New Orleans
      %p For #{link_to "RubyConf 2011", "http://rubyconf.org/"}
    %article
      %h2 San Francisco &amp; Mountain View
      %p SF Ruby, Hacker Dojo
    %article
      %h2 Seattle
      %p Seattle.rb hack night, Office Nomads (Coworking)
    %article
      %h2 Portland
      %p PDX.rb. Any coworking spots here?
    %article
      %h2 New York
      %p NYC.rb
    %article
      %h2 Washington, DC
      %p DC Ruby
    %article
      %h2 Orlando
      %p Orlando Ruby Users Group
    %article
      %h2 Chicago
      %p Chicago Ruby
    %article
      %h2 Denver &amp; Boulder
      %p Boulder.rb
    %article
      %h2 Austin, TX
      %p Auston on Rails
    %article
      %h2 Buffalo &amp; Rochester, NY
      %p Rochester.rb

%section#map
  %script{:type => "text/javascript", :src => "http://www.everlater.com/javascripts/widget.js"}
  :javascript
    new everlaterWidget('trip')(59049).embed();

  %br/
  %h1 Proud Member of SD Ruby:
  %p
    = link_to image_tag("/images/sdruby_logo.png", :id => "sdruby"), "http://sdruby.org/"
